{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "generateScopedName": "[path]__[name]__[local]__[hash:base64:5]",
        "handleMissingStyleName": "throw",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          },
          ".sass": {
            "syntax": "postcss-sass"
          }
        }
      }
    ]
  ]
}
