.container {
  margin-top: 12rem;
  padding-bottom: 220px;

  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
  }

  h4 {
    margin-top: 73px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 31px;

    gap: 27px;
    list-style: none;
  }
}
